<app-navbar></app-navbar>

<section class="pt-md-5">
    <div class="container">
        <h2>O que deseja fazer?</h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a routerLink="passe-colaborador">
                    <div class="card border-0 rounded">
                        <div class="card-body">
                            <h5 class="card-title">Emitir 2ª Via do Passe</h5>
                            <img src="../../../../../assets/img/card1.png"
                                class="card-img-top" alt="..." />
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-md-4">

                <div class="card border-0 rounded">
                    <div class="card-body">
                        <h5 class="card-title">Emitir Declaração</h5>
                        <img src="../../../../../assets/img/documento.png"
                            class="card-img-top"
                            alt="..." />
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
